{
  "Changes": [
    {
      "Action": "UPSERT",
      "ResourceRecordSet": {
        "Name": "{%domain%}",
        "Type": "A",
        "TTL": 3600,
        "ResourceRecords": [
          {
            "Value": "{%IP%}"
          }
        ]
      }
    }
  ]
}
